body {
    background-color: #89A8B2; /* Dark background for a modern look */
    color: #E5E1DA; /* Light text for contrast */
    font-family: 'Roboto', sans-serif; /* Clean and readable font */
    line-height: 1.8; /* Increase for better readability */
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3, .hero-title {
    font-family: 'Poppins', sans-serif; /* Use a different font for headings */
}

.section {
    margin-top: 4rem;
    padding-top: 4rem;
}


.section:last-of-type {
    padding-bottom: 4rem;
}
    /* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
    background-color: #176B87;
    color: #EEF5FF;
    margin-bottom: 0;
    border-radius: 0;

}
.navbar .nav-link {
    color: #EEF5FF;
    transition: color 0.3s;
}

.navbar .nav-link:hover {
    color: #B4D4FF;
}


.bgimage {
    height:100vh;
    background: url('images/abstract-3d-bar-line-background.jpg');
    background-size:cover;
    position:relative;
    padding: 0;
    margin: 0;
    color: #176B87;
}


.hero-text{
    text-align: center;
    position: absolute;
    top: 40%; /* Adjust this value to move the text upward */
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-title {
    padding-top: 10rem;
    font-size: 4.5rem;
}
.hero-desc {
    font-size: 2rem;
}

.img-about {
    max-width: 100%; /* Ensure the image doesn’t exceed its column width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Optional: Add rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Add a shadow for a polished look */
}



.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-facebook:hover,
.fa-instagram:hover,
.fa-twitter:hover,
.fa-linkedin:hover, 
.fa-twitch:hover {
    color: #fff;
}
.fab {
    color: #000000;
}

.servicesText.card {
    height: 280px;
    cursor: pointer;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}

.card {
    background-color: #89A8B2;
}
.footer {
    background-color: #222831;
    text-align: center;
}

